<div>
  <h1>Hello world!</h1>
  <% if session[:user_id] %>
    <a href="/sessions/delete">Log out</a><br>
  <% else %>
    <a href="/users/new">Sign up</a><br>
    <a href="/sessions/new">Log in</a>
  <% end %>
</div>